@page "/"
@inherits FragmentNavigationBase

<div class="position-relative" style="overflow: hidden">
    <img class="cover-image" src="images/turquoise-lake-2K-wallpaper.jpg" />
    <p class="h1 hero-header">Rasadnik Vesela Tuja</p>
    <a href="#welcome">
        <span class="cover-image-navigate btn"> 
            <i class="fas fa-chevron-down"></i>
        </span>
    </a>
</div>




<div id="welcome" class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12">
            <img src="images/877380.jpg" class="img-fluid" alt="Group 1" />
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 col-md-6">
            <img src="images/266282.jpg" class="img-fluid" alt="Group 2" />
        </div>
        <div class="col-12 col-md-6">
            <img src="images/1276576.jpg" class="img-fluid" alt="Group 3" />
        </div>
    </div>
</div>