@page "/"
@inherits FragmentNavigationBase

<div class="position-relative" style="overflow: hidden">
    <img class="cover-image" src="images/265725.jpg" />
    <p class="h1 hero-header">Rasadnik SRECNA TUJA</p>
    <a href="#welcome">
        <span class="cover-image-navigate btn"> 
            <i class="fas fa-chevron-down"></i>
        </span>
    </a>
</div>





<p id="welcome">Welcome to your new app.</p>

<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
<p>yo yo</p>
