@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --main-darkest-color: #222629;
    --main-dark-color: #474B4F;
    --main-light-color: #FFFFFF;
    --text-color: #17252A;
    --main-outline-color: #86C232;
    --darker-outline-color: #61892F;
    --main-header-color: #86C232;

    --sidebar-width: 380px;
}

@font-face {
    font-family: 'Hojas de Plata';
    src: url(../fonts/HojasDePlata/HojasDePlata-M5We.ttf) format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Cinzel';
    src: url(../fonts/Cinzel/Cinzel-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Cinzel';
    src: url(../fonts/Cinzel/Cinzel-Bold.ttf) format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}
@font-face {
    font-family: 'Cinzel';
    src: url(../fonts/Cinzel/Cinzel-Black.ttf) format('truetype'); /* Safari, Android, iOS */
    font-weight: bolder;
}


@font-face {
    font-family: 'Quattrocento';
    src: url(../fonts/Quattrocento/Quattrocento-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Quattrocento';
    src: url(../fonts/Quattrocento/Quattrocento-Bold.ttf) format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}

html, body {
    font-family: 'Quattrocento';
    color: var(--main-light-color);
    background-color: var(--main-darkest-color);
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

a, .btn-link {
    color: #0366d6;
}

.hero-header {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.overlay {
    opacity: 0.1;
    background-color: var(--main-dark-color);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-emphasize {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--main-dark-color);
    opacity: 0.7;
    z-index: -1;
}

.main-viewport {
    position: relative;
    display: flex;
    flex-direction: row;
}

.sidebar-show {
    right: var(--sidebar-width);
    transition: right 0.5s;
}

.sidebar-collapse {
    right: 0;
    transition: right 0.5s;
}

.cover-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.cover-image-navigate, .cover-image-navigate:focus, .cover-image-navigate:active {
    z-index: 999;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--main-light-color);
    font-size: 36px;
}

    .cover-image-navigate:hover {
        color: var(--main-light-color);
        font-size: 40px;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: row;
}

.main {
    flex: 1;
    position: relative;
    width: 100vw;
}
 
    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-color: var(--main-darkest-color);
    height: 100vh;
    width: var(--sidebar-width);
    position: sticky;
    top: 0;
}
    .sidebar .separator {
        font-weight: bold;
        color: var(--main-light-color);
    }

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.social-networks-sidebar {
    bottom: 1.1rem;
    font-size: 20px;
}

    .social-networks-sidebar i {
        color: var(--main-header-color);
        opacity: 0.8;
    }

        .social-networks-sidebar i:hover {
            color: var(--main-header-color);
            opacity: 1.0;
        }

.content {
    height: 100%;
}

.navbar-button, .navbar-button:focus, .navbar-button:active {
    z-index: 999;
    position: fixed;
    top: 30px;
    right: 405px;
    color: var(--main-light-color);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 36px;
}

.navbar-button-collapsed, .navbar-button-collapsed:focus, .navbar-button-collapsed:active {
    z-index: 999;
    position: fixed;
    top: 30px;
    right: 25px;
    color: var(--main-light-color);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 36px;
}

    .navbar-button:hover, .navbar-button-collapsed:hover {
        font-size: 40px;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

