<div class="page-dark mt-auto p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-4">
                <Logo></Logo>
            </div>
            <div class="col-4">
                <p class="text-uppercase">Rasadnik Vesela Tuja</p>
                <p>Bojinacki put bb, 37204, Veliki Siljegovac</p>
                <br/>
                <p>Copyright © 2020 RASADNIK VESELA TUJA</p>
            </div>
            <div class="col-4">
                <p>O nama</p>
                <p>Kontakt</p>
                <SocialNetworksLinks Class="social-networks-bottombar" />
            </div>
        </div>
    </div>
</div>

@code {

}
