<div>
    <a class="navbar-brand" href="">
        <p>
            <i class="fab fa-pagelines"></i>
        </p>
        <br />
        <p style="color: white">Rasadnik</p>
        <br />
        <p>SRECNA TUJA</p>
    </a>

    <p class="separator">─────</p>

    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="gallery">
                <span class="oi oi-plus" aria-hidden="true"></span> Gallery
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="#welcome">
                <span class="oi oi-plus" aria-hidden="true"></span> Welcome
            </NavLink>
        </li>
    </ul>

    <p class="separator">─────</p>

    <p>Contact Info</p>

    <p class="separator">─────</p>

    <SocialNetworksLinks />
</div>





