<div class="container-fluid">
    <a href="https://www.facebook.com">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com">
        <i class="fab fa-instagram-square"></i>
    </a>
</div>
