<div class="@Class">
    <a class="pr-1 text-decoration-none" style="text-align: center; vertical-align: middle;" href="https://www.facebook.com">
        <i class="fab fa-facebook"></i>
    </a>
    <a class="pr-1 text-decoration-none" style="text-align: center; vertical-align: middle;" href="https://www.instagram.com">
        <i class="fab fa-instagram-square"></i>
    </a>
</div>

@code  {

    [Parameter]
    public string Class { get; set; }

}
